<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    // window.setTimeout(function(){
    //     window.location = window.location.origin + '/' + $('#redirect')[0].href;
    // }, 2000);
</script>
<style type="text/css">
@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #28292f;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
</style>
<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="body">
              <div style="font-weight:bold; font-size:16px; color:green; margin-bottom: 10px; text-align:center;">
                  Please wait payment to be processing
              </div>
              <div class="lds-css ng-scope">
                <div style="width:100%;height:100%" class="lds-eclipse">
                  <div></div>
                </div>
              </div>
            </div>
            <!--- <div style="font-size:12px; margin:0 auto; text-align:center;">
                <a href="/razorpay-payment/proceed/<%= orderId %>" id="redirect">In you not redirect click this link</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
</div>
<button id="rzp-button1" style="display: none">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "<%= key %>", // Enter the Key ID generated from the Dashboard
    "amount": "<%= amount %>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise or INR 500.
    "currency": "INR",
    "name": "<%= orderId %>",
    "description": "<%= description %>",
    "order_id": "<%= orderRefId %>",//This is a sample Order ID. Create an Order using Orders API. (https://razorpay.com/docs/payment-gateway/orders/integration/#step-1-create-an-order). Refer the Checkout form table given below
    "handler": function (response){
        // alert(JSON.stringify(response));
        var queryParams = '?' + 
        Object.keys(response).map(function(key) {
            return encodeURIComponent(key) + '=' +
                encodeURIComponent(response[key]);
        }).join('&');
        window.location = '/razorpay-payment/success' + queryParams;
    },
    "prefill": {
        "name": "<%= username %>",
        "email": "<%= email %>",
        "contact": "<%= contact %>"
    },
    "modal": {
        "ondismiss": function(){
            window.location = '/razorpay-payment/cancel/<%= orderIncrementId %>';
        }
    }
};
var rzp1 = new Razorpay(options);
// document.getElementById('rzp-button1').onclick = function(e){
//     rzp1.open();
//     e.preventDefault();
// }
window.setTimeout(function(){
   rzp1.open();
}, 2000);
</script>
</body>
     